.home{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
}

.home .image{
    width: 450px;
    
}
.home .image img{
    border-radius: 50px;
}
.english{
    width: 1000px;
    margin: auto;
}
.home .icon{
    width: 50px;
}
.home .icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.about{
    display: flex;
    flex-direction: column;
}
.about .heading{
    position: relative;
}


.about .text{
    font-size: large;
    text-align: left;
}
.languages{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.languages .flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 750px;
    margin: auto;
    gap: 25px;
   

}
.languages .flex img{
    width: 150px;
}
.imgtxt{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imgtxt img{
    width: 10   0px;
}
.languages .heading{
    position: relative;
}
